h1{color:red; font-family:elephant;background-color:black;}
h2{color:rbj (254, 70, 87); font-family:Harlow Solid Italic;}
pform{background-color:red; color:black; font-family:Harlow Solid Italic;}
table{background-color:red; color:black;}
ul{color: black; background-color:red;}
ol{color: black; background-color:red;}
form{background-color:red color:black; font-family:Harlow Solid Italic;}